.postPage {
    margin: 50px 50px 50px;
}

.post {
    padding: 20px 20px 20px
}

.comments {
    margin-top: 20px;
    padding: 20px 0px 20px
}

.comment {
    margin-bottom: 10px;
    padding: 10px 20px 10px;
}

.postUsername{
    margin-bottom: 10px;
}

.postDateTime,
.commentDateTime {
    font-size:x-small;
    margin-bottom: 5px;
}

.postInteract {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
    margin-top: 20px;
    font-size: x-small;
}

.postContent {
    font-size: small;
}

.commentInteract,
.childInteract {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3px;
    margin-top: 10px;
}

.commentDateTime,
.commentInteract,
.childDateTime,
.childInteract {
    font-size: xx-small;
}

.commentDateTime,
.childDateTime {
    margin-bottom: 7px;
}

.commentContent,
.childContent {
    font-size: x-small;
}

.commentUsername,
.childUsername {
    margin-bottom: 5px;
}

.commentChild {
    margin-top: 10px;
    border-left-color: #8EC5D1;
    border-left-style: solid;
    padding-left: 20px;
}

button {
    font-size: xx-small;
}