.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

.loginPage h1 {
  margin-bottom: 7vh;
  text-align: left;
  margin-left: 15vw;
  margin-top: 5vw;
  padding-bottom: 8px;
  font-weight: normal;
  border-bottom-style: solid;
  border-bottom-color: #8ec5d1;
  width: 37vw;
}

#registrationFormDiv li,
#registrationFormDiv h2 {
  text-align: left;
  font-weight: lighter;
}

#registrationFormDiv h2 {
  margin-left: 5vw;
}

#registrationFormDiv li {
  margin-left: 2vw;
  margin-bottom: 5px;
}

h2 {
  font-weight: lighter;
}

#registrationSell {
  border-left-color: #96CBAE;
  border-left-style: solid ;
  margin-left: 10vw;
}

.registrationPage {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 20px;
}

#registrationFormDiv {
  display: grid;
  grid-template-columns: 40vw auto;
  background-color: white;
  margin-top: 10vw;
}

#registrationForm label {
  font-weight:300
}

#registrationForm input {
  font-weight: lighter;
}

#registrationForm {
  display: grid;
  grid-template: 
  "emailLabel" 20px
  "email" 30px
  "usernameLabel" 20px
  "username" 30px
  "passwordLabel" 20px
  "password" 30px
  "submit";
  margin-left: auto;
}

#loginForm {
  grid-template: 
  "usernameLabel usernameLabel" 20px
  "username username" 30px
  "passwordLabel passwordLabel" 20px
  "password password" 30px
  "submit submit" 60px
  "registerLabel registerLink" 30px;
  margin-left: 15vw;
  align-items: center;
}

#registrationForm,
#loginForm {
  display: grid;
  gap: 10px;
  width: 35vw;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #c0c0c0;
}

#registrationForm .emailLabel {
  grid-area: emailLabel;
}
#registrationForm #email {
  grid-area: email;
}

.usernameLabel {
  grid-area: usernameLabel;
}
#username {
  grid-area: username;
}

.passwordLabel {
  grid-area: passwordLabel;
}
#password {
  grid-area: password;
  font-weight: 100;
}

#registrationForm #email,
#username,
#password {
  background: rgb(150,203,174);
  background: linear-gradient(153deg, rgba(150,203,174,0.500437675070028) 0%, rgba(142,197,209,0.500437675070028) 50%, rgba(233,171,125,0.5032387955182073) 100%);
  border: none;
  height: 25px;
}

.submit {
  grid-area: submit;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 25px;
  background: #ffffff;
  border: none;
  box-shadow: -2px -2px 5px #8ec5d18f, 
              2px 2px 5px #e9ab7d8f
}

input[type=text] {
  font-weight: lighter;
  text-align: center;
}

.regInput {
  font-weight: 100;
}

#registerLink {
  grid-area: registerLink;
}

#registeLabel {
  grid-area: registerLabel;
}

/* Start of styling for HOME PAGE   */

.homeHeader {
  height: 70px;
  background-color: red;
}

.mainContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

