* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-pokeblue: 142, 197, 209;
    --clr-pokeorange: 233, 171, 125;
    --clr-pokegreen: 150, 203, 174;
    --clr-shadow: 192, 192, 192;
    }


